/*customInfo*/
.ci_search_input  {
    min-width: 160px!important;
    max-width: 180px!important;
    margin-bottom: 10px;
}

.ci_search_btn {
    margin-bottom: 10px!important;
}

.ci_btn_margin_bottom0 {
    margin-bottom: 0!important;
}

.ci_row_one {
    padding-bottom: 15px;
    padding-left: 15px;
}

.oci_select {
    width: 200px!important;
}

.cm_select {
    width: 200px!important;
}

.cm_top_row {
    margin-bottom: 10px;
}

.cm_btn_row {
    margin-top: 10px;
    padding-left: 25px;
}

/*test*/

.row {
    /*background-color: #c8daee;*/
}

.spm_btn_row {
    margin-bottom: 15px;
    padding-left: 15px;
}